# ignore these files

# compilation
./CMMP/*.o
./CMMP/src/*.o
./CMMP/base_antlr/*.o
./CMMP/exe

.\CMMP\x64\Debug\*.obj

# antlr plugin files
.antlr/**
.antlr

# tests
Ex_Test_Backend
Ex_Test_Backend/**



.vs\CMMP\v15\ipch
.vs\CMMP\v15\ipch\**