# ignore these files

# compilation
./CMMP/*.o
./CMMP/src/*.o
./CMMP/base_antlr/*.o
./CMMP/exe
CMMP/*.o
CMMP/src/*.o
CMMP/base_antlr/*.o
CMMP/exe

.\CMMP\x64\Debug\*.obj

# antlr plugin files
.antlr/**
.antlr

# tests
Ex_Test_Backend
Ex_Test_Backend/**



.vs\CMMP\v15\ipch
.vs\CMMP\v15\ipch\**
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/INSTRUCTION-dead42b7/INSTRUCTION.ipch
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/CONST-37287a1c/CONST.ipch
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/CONDITION-cc1cd97c/CONDITION.ipch
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/CMMPLEXER-5abaaf75/CMMPLEXER.ipch
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/BLOCK-24eb60a0/BLOCK.ipch
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/7-TESTWHILEANDVARIABLES-d0ab4e70/7-TESTWHILEANDVARIABLES.ipch
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/6-WHILE-c695eae3/6-WHILE.ipch
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/2_PUTCHAR-824d94cf/2_PUTCHAR.ipch
/.vs/CMMP/v15/ipch/AutoPCH/CMMP-648ac6c7/1_DECLS-e704f622/1_DECLS.ipch
